@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';
@import "materialize/extras/nouislider";

.b-container {
	width: 90%;
	margin: 0 auto;
}

.header, .main, .footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) 
{
  .header, .main, .footer {
    padding-left: 0;
  }
}

.side-nav {
	background-color: rgba(0,0,0, 0.65)
}

.b-tab {
	min-height: 20px;
	width: 200px;
	line-height: normal !important;
	vertical-align: bottom;
}

.b-tab-container {
	margin: 10px 10px;
	border: 2px solid white;
	vertical-align: bottom;
}



.active-tab {
	margin: 10px 10px;
	border: 2px solid white;
	vertical-align: middle;
	line-height: normal !important;
}
.disabled-tab {
	margin: 10px 10px;
	border: 2px solid grey;
	vertical-align: middle;
	line-height: normal !important;
}
.b-long-table {
	max-height: 200px !important;
	overflow-y: scroll;
}
.b-wide-table {
	overflow-x: scroll;
}

.b-fixed-table-header {
	table-layout: fixed;
}

.chart {
	background-color: transparent !important;
}

.b-td {
	padding: 5px 5px;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height: 55px;
   width:100%;
   background:#999;
}

.contact {
	background-color: rgba(0,0,0, 0.75)	
}



.contact-row {
	margin-bottom: 0;
}

#contact-button {
	border-radius: 0;
}

.contact-info {
	height: 70px;
}

.high-footer {
	height: 125px;
}

.zero-margin {
	margin: 0;
}

#location {
	vertical-align: bottom;
}

.active-button {

	background-color: #f44336 !important; 	
}

#logo {
	background-color: white;
	padding: 5px;
	margin: 10px;
}

.container-height-300 {
	height: 300px;
}
.container-height-250 {
	height: 250px;
}

.container-height-50 {
	margin: 0;
	height:50;
}

.input-field {
	margin: 0;
}

.title-row {
	margin:0;
}

.route-link {

	font-size: 1.2em;
}

.link-text {
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;	
}

.section-title {
	margin: 5px;
}

td {
	padding: 5px;
}

table tbody tr:hover {
	background-color: rgba(96,125,139, .3) !important;
}

.table-container {
  overflow-y: auto;
  height: 220px;
}

input:not([type]), input[type=password] {
    width: 100%;
    padding: 10px;
    height: 2.2em;
    box-sizing: border-box;
    border: 1px solid #bdbdbd !important;
    background-color: white !important;

}

.input[type=text]:focus {
  border-bottom: 0 1px 0 0 orange !important;
  -webkit-box-shadow: 0 1px 0 0 orange;
  -moz-box-shadow: 0 1px 0 0 orange;
  box-shadow: 0 1px 0 0 orange;
}

.ui-menu {
	padding: 6px;
	background-color: rgba(0,0,0, 0.75);
	width: 250px;
}

.ui-menu-item {
	color: white !important;
}

